<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/webpage.css">
    <title>Cá heo</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="../index.html">
                <img src="../assets/img/logo.png" alt="logo">
                <span>Jelly Fish</span>
            </a>
        </div>

        <div class="menu-navbar">
            <ul>
                <li><a href="../index.html">Trang chủ</a></li>
                <li><a href="introduce.html">Giới thiệu</a></li>
                <li>
                    <a href=""> Chủng loài
                        <i class="fa fa-angle-down fa-down" style="font-size:25px;margin-left: 8px;"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="/"></a>Vùng biển khơi mặt
                            <ul class="sub-menu">
                                <li><a href="dolphin.html">Cá heo</a></li>
                                <li><a href="rua.html">Rùa biển</a></li>
                                <li><a href="killerwhale.html">Cá voi sát thủ</a></li>
                            </ul>
                        </li>

                        <li><a href="/"></a>Vùng biển khơi trung
                            <ul class="sub-menu">
                                <li><a href="jellyfish.html">Sứa biển</a></li>
                                <li><a href="muc.html">Mực biển</a></li>
                                <li><a href="octopus.html">Bạch tuộc</a></li>
                            </ul>
                        </li>

                        <li><a href="/"></a>Vùng đáy vực khơi tăm tối
                            <ul class="sub-menu">
                                <li><a href="anemone.html">Hải quỳ</a></li>
                                <li><a href="dumbo.html">Dumbo otopus</a></li>
                                <li><a href="nhenbien.html">Nhện biển</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li><a href="contact">Liên hệ</a></li>
            </ul>
        </div>

        <div>
            <a href="login.html"><button class="login-btn">Đăng nhập</button></a>
        </div>
    </header>

    <main>
        <div class="wel">
            <div class="wel-title">
                Khám phá biển sâu <br>
            </div>

            <div class="wel-mess">
                Hãy khám phá theo cách riêng của bạn, chúc bạn có những trải nghiệm thú vị !
            </div>
        </div>

        <div class="main-container">
            <div class="main-content">
                <div class="content">
                    <div class="content-title">
                        Thần tượng biển: Cá heo - Thiên tài thông minh và giao tiếp trong 
                        thế giới dưới đại dương
                    </div>

                    <div class="content-mess">
                            Cá heo, còn được gọi là đại bàng biển, là một trong những loài động vật 
                        thông minh và xã hội phát triển nhất trên hành tinh chúng ta. Với sự thông 
                        minh, tình cảm và khả năng giao tiếp phức tạp, cá heo đã thu hút sự quan tâm 
                        và yêu thích của con người từ hàng ngàn năm trước đến ngày nay.
                        <p> Cá heo thuộc họ Delphinidae, là một nhánh của bộ Cetacea, bao gồm cả cá voi. 
                        Chúng có hình dáng mềm mại, thân hình thon dài và linh hoạt, với một cái vây lưng 
                        cao trên lưng và một cái vây hậu môn phía sau. Chúng có một đôi mắt lớn và thông 
                        minh, giúp chúng nhìn rõ trong môi trường nước. </p>

                        <img src="../assets/img/ca-heo-1.jpg" alt="ca-heo-1">

                            Cá heo là loài có trí tuệ cao và có khả năng học tập đáng kinh ngạc. Chúng có 
                        khả năng giải quyết các vấn đề phức tạp, như sử dụng công cụ, hợp tác trong săn mồi 
                        và thậm chí thực hiện các nhiệm vụ được chỉ định bởi con người trong các trường hợp 
                        huấn luyện. Cá heo cũng có khả năng nhận biết và phản ứng với âm thanh, tạo ra các 
                        âm thanh phức tạp và sử dụng hệ thống giao tiếp âm thanh để truyền đạt thông điệp 
                        cho nhau.
                        <p> Cá heo sống trong nhóm xã hội phức tạp, gọi là bầy cá heo. Bầy cá heo thường bao 
                        gồm một số cá heo cái và con non, được lãnh đạo bởi một con cá heo đực. Chúng có khả 
                        năng tương tác xã hội phong phú, bao gồm việc trao đổi âm thanh, cử chỉ và cả việc 
                        chơi đùa. Cá heo cũng có khả năng hợp tác trong săn mồi, sử dụng kỹ thuật đánh bắt 
                        thông minh để bắt được cá và mực. </p>

                        <img src="../assets/img/caheohong.jpg" alt="caheohong">

                            Cá heo là những sinh vật di cư thông minh. Chúng có thể di chuyển hàng trăm dặm 
                        trong một ngày, theo đuổi các đàn cá di cư hoặc tìm kiếm nguồn thức ăn. Cá heo cũng 
                        có khả năng nhận biết vị trí bằng cách sử dụng hệ thống sonar tự nhiên của chúng, gọi 
                        là echolocation, giúp chúng xác định khoảng cách và hình dạng của các vật thể xung quanh.
                        <p> Sự thông minh và khả năng giao tiếp của cá heo đã tạo ra sự quan tâm và chú ý của con 
                        người. Chúng đã được huấn luyện và sử dụng trong các chương trình giáo dục và giải trí. 
                        Cá heo cũng đã trở thành biểu tượng của sự bảo vệ môi trường biển và tình yêu và lòng 
                        nhân ái đối với động vật hoang dã. </p>
                    </div>
                </div>
            </div>

            <ul class="featured-list featured-sticky">
                <div class="featured-title">
                    Nội dung nổi bật
                </div>
                <hr>

                <li>
                    <a href="muc.html">
                        <div class="fea-img">
                            <img src="../assets/img/conmuc.jpg" alt="muc">
                        </div>

                        <div class="fea-info">
                            Sự đa dạng và cuộc sống của loài mực
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="rua.html">
                        <div class="fea-img">
                            <img src="../assets/img/rua.jpg" alt="rua">
                        </div>

                        <div class="fea-info">
                            Bí mật cuộc sống dưới vỏ bọc của con rùa
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="killerwhale.html">
                        <div class="fea-img">
                            <img src="../assets/img/cavoi.webp" alt="cavoi">
                        </div>

                        <div class="fea-info">
                            Sự ác liệt và bí ẩn của cá voi sát thủ
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="jellyfish.html">
                        <div class="fea-img">
                            <img src="../assets/img/sua.jpg" alt="sua">
                        </div>

                        <div class="fea-info">
                            Vẻ đẹp mê hoặc và sức sống bất ngờ của sứa
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="octopus.html">
                        <div class="fea-img">
                            <img src="../assets/img/bachtuoc.jpg" alt="bachtuoc">
                        </div>

                        <div class="fea-info">
                            Cuộc sống độc đáo của bạch tuộc: Nghệ thuật sinh tồn dưới nước
                        </div>
                    </a>
                </li>
            </ul>
            <a href="#" id="back-to-top"><span><i class="fa fa-angle-up" style="font-size:36px"></i></span></a>
        </div>
    </main>

    <footer id="footer">
        <div class="footer-container">
            <div class="ft-logo">
                <img src="../assets/img/logo.png" alt="logo">
                <span>Jelly Fish</span>
            </div>

            <div class="ft-content">
                <ul class="ct-title">
                    <li>Liên hệ</li>
                </ul>

                <ul class="ct-mess">
                    <li>© Bản quyền thuộc sinh viên Nguyễn Thu Hiền - K10CNTTA - HVPNVN</li>
                    <li>Địa chỉ: 68 Đ. Nguyễn Chí Thanh, Láng Thượng, Đống Đa, Hà Nội</li>
                    <li>Số điện thoại: 0989440712</li>
                    <li>Email: nguyenthuhien5612@gmail.com</li>
                    <li>Lms: 2274820014@hpn.edu.vn</li>
                    
                    <div class="ft-icon">
                        <li><a href="https://www.facebook.com/suabien.1314"><i class="fa fa-facebook-square" style="font-size:36px;color: rgb(165, 164, 164);"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCXVgghCb63FZh7p9UPnqv5A"><i class="fa fa-youtube-play" style="font-size:36px;color: rgb(165, 164, 164);"></i></a></li>
                        <li><a href="https://www.pinterest.com/MurakamiSugi/"><i class="fa fa-pinterest-square" style="font-size:36px;color: rgb(165, 164, 164);"></i></a></li>
                        <li><a href="https://twitter.com/MikaToco?fbclid=IwAR07emJHG1zTvlfb0-_jwwJ6BDX40hlfkiPnjLenhCYGFfKqEZlZOJJikPs"><i class="fa fa-twitter-square" style="font-size:36px;color: rgb(165, 164, 164);"></i></a></li>
                    </div>
                </ul>
            </div>
        </div>
    </footer>
    
    <script src="../controller/contact.js"></script>
    <script src="../controller/back-to-top-button.js"></script>
</body>

</html>