<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/webpage.css">
    <title>Sứa biển</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="/index.html">
                <img src="/assets/img/logo.png" alt="logo">
                <span>Jelly Fish</span>
            </a>
        </div>

        <div class="menu-navbar">
            <ul>
                <li><a href="/index.html">Trang chủ</a></li>
                <li><a href="/views/introduce.html">Giới thiệu</a></li>
                <li>
                    <a href=""> Chủng loài
                        <i class="fa fa-angle-down fa-down" style="font-size:25px;margin-left: 8px;"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="/"></a>Vùng biển khơi mặt
                            <ul class="sub-menu">
                                <li><a href="/views/dolphin.html">Cá heo</a></li>
                                <li><a href="/views/rua.html">Rùa biển</a></li>
                                <li><a href="/views/killerwhale.html">Cá voi sát thủ</a></li>
                            </ul>
                        </li>

                        <li><a href="/"></a>Vùng biển khơi trung
                            <ul class="sub-menu">
                                <li><a href="/views/jellyfish.html">Sứa biển</a></li>
                                <li><a href="/views/squid.html">Mực biển</a></li>
                                <li><a href="/views/octopus.html">Bạch tuộc</a></li>
                            </ul>
                        </li>

                        <li><a href="/"></a>Vùng đáy vực khơi tăm tối
                            <ul class="sub-menu">
                                <li><a href="/views/anemone.html">Hải quỳ</a></li>
                                <li><a href="/views/dumbo.html">Dumbo otopus</a></li>
                                <li><a href="/views/nhenbien.html">Nhện biển</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li><a href="contact">Liên hệ</a></li>
            </ul>
        </div>

        <div>
            <a href="./views/login.html"><button class="login-btn">Đăng nhập</button></a>
        </div>
    </header>

    <main>
        <div class="wel">
            <div class="wel-title">
                Khám phá biển sâu <br>
            </div>

            <div class="wel-mess">
                Hãy khám phá theo cách riêng của bạn, chúc bạn có những trải nghiệm thú vị !
            </div>
        </div>

        <div class="main-container">
            <div class="main-content">
                <div class="content">
                    <div class="content-title">
                        Sứa: Quái vật biển độc đáo và vai trò quan trọng trong hệ sinh thái biển
                    </div>

                    <div class="content-mess">
                            Sứa, còn được gọi là quái vật biển, là một trong những sinh vật biển độc đáo 
                        và thú vị nhất trên hành tinh chúng ta. Với hình dáng đẹp mắt và đa dạng loài, 
                        sứa thu hút sự chú ý của những người quan tâm đến hệ sinh thái biển và sự đa 
                        dạng sinh học.
                        <p> Sứa thuộc nhóm Eumetazoa và phylum Cnidaria, với hơn 2.000 loài đã được xác định. 
                        Chúng có cấu trúc cơ thể đặc biệt, với cái ủng (bell) ở phía trên và những cánh tay 
                        dài phụng phịu phía dưới, giúp chúng di chuyển và săn mồi. Một trong những đặc điểm 
                        độc đáo của sứa là ánh sáng phát quang trong bóng tối, nhờ sự hiện diện của các tế 
                        bào phát quang trong cơ thể chúng. </p>

                        <img src="/assets/img/sua.jpg" alt="sua">

                            Sứa có sự đa dạng về kích thước và màu sắc. Từ những loài nhỏ bé chỉ có đường 
                        kính vài mm cho đến những loài khổng lồ với cái ủng có đường kính lên đến 2 mét, 
                        sứa có thể tồn tại ở nhiều môi trường khác nhau trong đại dương. Màu sắc của sứa 
                        cũng rất đa dạng, từ trắng, xanh dương, đỏ, vàng cho đến những sắc thái neon sặc 
                        sỡ. Một số loài sứa còn có khả năng thay đổi màu sắc để tương hợp với môi trường 
                        xung quanh.
                        <p> Sứa là những sinh vật tiến hóa từ hàng triệu năm trước và có vai trò quan trọng 
                        trong hệ sinh thái biển. Chúng thường là nguồn thức ăn cho nhiều loài cá và động 
                        vật biển khác. Tuy nhiên, một số loài sứa có độc tố và có thể gây nguy hiểm cho con 
                        người nếu tiếp xúc trực tiếp. Sứa vẫn là một đề tài nghiên cứu quan trọng để hiểu rõ 
                        hơn về sự tiến hóa sinh học và tương tác trong môi trường biển. </p>

                        <img src="/assets/img/suaa.jpg" alt="suaa">

                            Trên thực tế, sứa cũng đang được sử dụng trong lĩnh vực nghiên cứu y tế và công 
                        nghệ. Các chất độc từ sứa có thể được sử dụng trong việc điều trị bệnh ung thư và các 
                        bệnh lý khác. Ngoài ra, một số công ty cũng đã sử dụng công nghệ sinh học từ sứa để 
                        phát triển các sản phẩm chăm sóc da và làm đẹp.
                        <p> Các nhà khoa học và các nhà nghiên cứu đang nỗ lực để nghiên cứu sứa và tìm hiểu 
                        về cấu trúc cơ thể, cách sinh sản, cơ chế phát quang và tác động của biến đổi khí hậu 
                        đối với sứa. Việc hiểu rõ hơn về sứa có thể giúp chúng ta tìm ra các biện pháp bảo vệ 
                        môi trường biển và duy trì sự cân bằng sinh thái của đại dương. </p>
                    </div>
                </div>
            </div>

            <ul class="featured-list featured-sticky">
                <div class="featured-title">
                    Nội dung nổi bật
                </div>
                <hr>

                <li>
                    <a href="/views/squid.html">
                        <div class="fea-img">
                            <img src="/assets/img/conmuc.jpg" alt="muc">
                        </div>

                        <div class="fea-info">
                            Sự đa dạng và cuộc sống của loài mực
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="/views/rua.html">
                        <div class="fea-img">
                            <img src="/assets/img/rua.jpg" alt="rua">
                        </div>

                        <div class="fea-info">
                            Bí mật cuộc sống dưới vỏ bọc của con rùa
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="/views/killerwhale.html">
                        <div class="fea-img">
                            <img src="/assets/img/cavoi.webp" alt="cavoi">
                        </div>

                        <div class="fea-info">
                            Sự ác liệt và bí ẩn của cá voi sát thủ
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="/views/jellyfish.html">
                        <div class="fea-img">
                            <img src="/assets/img/sua.jpg" alt="sua">
                        </div>

                        <div class="fea-info">
                            Vẻ đẹp mê hoặc và sức sống bất ngờ của sứa
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="/views/octopus.html">
                        <div class="fea-img">
                            <img src="/assets/img/bachtuoc.jpg" alt="bachtuoc">
                        </div>

                        <div class="fea-info">
                            Cuộc sống độc đáo của bạch tuộc: Nghệ thuật sinh tồn dưới nước
                        </div>
                    </a>
                </li>
            </ul>
            <a href="#" id="back-to-top"><span><i class="fa fa-angle-up" style="font-size:36px"></i></span></a>
        </div>
    </main>

    <footer id="footer">
        <div class="footer-container">
            <div class="ft-logo">
                <img src="/assets/img/logo.png" alt="logo">
                <span>Jelly Fish</span>
            </div>

            <div class="ft-content">
                <ul class="ct-title">
                    <li>Liên hệ</li>
                </ul>

                <ul class="ct-mess">
                    <li>© Bản quyền thuộc sinh viên Nguyễn Thu Hiền - K10CNTTA - HVPNVN</li>
                    <li>Địa chỉ: 68 Đ. Nguyễn Chí Thanh, Láng Thượng, Đống Đa, Hà Nội</li>
                    <li>Số điện thoại: 0989440712</li>
                    <li>Email: nguyenthuhien5612@gmail.com</li>
                    <li>Lms: 2274820014@hpn.edu.vn</li>
                    
                    <div class="ft-icon">
                        <li><a href="https://www.facebook.com/suabien.1314"><i class="fa fa-facebook-square" style="font-size:36px;color: rgb(165, 164, 164);"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCXVgghCb63FZh7p9UPnqv5A"><i class="fa fa-youtube-play" style="font-size:36px;color: rgb(165, 164, 164);"></i></a></li>
                        <li><a href="https://www.pinterest.com/MurakamiSugi/"><i class="fa fa-pinterest-square" style="font-size:36px;color: rgb(165, 164, 164);"></i></a></li>
                        <li><a href="https://twitter.com/MikaToco?fbclid=IwAR07emJHG1zTvlfb0-_jwwJ6BDX40hlfkiPnjLenhCYGFfKqEZlZOJJikPs"><i class="fa fa-twitter-square" style="font-size:36px;color: rgb(165, 164, 164);"></i></a></li>
                    </div>
                </ul>
            </div>
        </div>
    </footer>

    <script src="/controller/contact.js"></script>
    <script src="/controller/back-to-top-button.js"></script>
</body>

</html>