<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/webpage.css">
    <title>Cá voi sát thủ</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="/index.html">
                <img src="/assets/img/logo.png" alt="logo">
                <span>Jelly Fish</span>
            </a>
        </div>

        <div class="menu-navbar">
            <ul>
                <li><a href="/index.html">Trang chủ</a></li>
                <li><a href="/views/introduce.html">Giới thiệu</a></li>
                <li>
                    <a href=""> Chủng loài
                        <i class="fa fa-angle-down fa-down" style="font-size:25px;margin-left: 8px;"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="/"></a>Vùng biển khơi mặt
                            <ul class="sub-menu">
                                <li><a href="/views/dolphin.html">Cá heo</a></li>
                                <li><a href="/views/sea_​​turtle.html">Rùa biển</a></li>
                                <li><a href="/views/killerwhale.html">Cá voi sát thủ</a></li>
                            </ul>
                        </li>

                        <li><a href="/"></a>Vùng biển khơi trung
                            <ul class="sub-menu">
                                <li><a href="/views/jellyfish.html">Sứa biển</a></li>
                                <li><a href="/views/squid.html">Mực biển</a></li>
                                <li><a href="/views/octopus.html">Bạch tuộc</a></li>
                            </ul>
                        </li>

                        <li><a href="/"></a>Vùng đáy vực khơi tăm tối
                            <ul class="sub-menu">
                                <li><a href="/views/anemone.html">Hải quỳ</a></li>
                                <li><a href="/views/dumbo.html">Dumbo otopus</a></li>
                                <li><a href="/views/sea_spider.html">Nhện biển</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li><a href="contact">Liên hệ</a></li>
            </ul>
        </div>

        <div>
            <a href="../views/login.html"><button class="login-btn">Đăng nhập</button></a>
        </div>
    </header>

    <main>
        <div class="wel">
            <div class="wel-title">
                Khám phá biển sâu <br>
            </div>

            <div class="wel-mess">
                Hãy khám phá theo cách riêng của bạn, chúc bạn có những trải nghiệm thú vị !
            </div>
        </div>

        <div class="main-container">
            <div class="main-content">
                <div class="content">
                    <div class="content-title">
                        Cá voi sát thủ: Vị vua của đại dương và vẻ đẹp hùng mạnh của loài vật biển tuyệt vời
                    </div>

                    <div class="content-mess">
                            Cá voi sát thủ, hay còn được gọi là cá voi miền Bắc (Orcinus orca), là một 
                        trong những loài cá voi thông minh và mạnh mẽ nhất trên Trái Đất. Với vẻ ngoài 
                        đặc trưng, cá voi sát thủ được biết đến nhờ vẻ mặt màu trắng đen đối xứng, hình 
                        thức thể thao và sự tinh tế trong cách chơi và săn mồi.
                        <p> Cá voi sát thủ là thành viên hàng đầu trong họ Delphinidae, và chúng là loài 
                        cá voi lớn nhất trong họ này. Chúng có thể đạt đến chiều dài khoảng 9-10 mét và 
                        nặng từ 5 đến 10 tấn. Cá voi sát thủ có hình dạng cơ thể mạnh mẽ và thon dài, với 
                        vây lưng cao và mũi hình nón nhọn. Đặc biệt, chúng có một đốm màu trắng ở phần sau 
                        của vây lưng, gọi là "vây lưng sát thủ", là đặc điểm đồng nhất của loài này. </p>

                        <img src="/assets/img/cavoi.webp" alt="cavoi">

                            Một trong những đặc điểm nổi bật của cá voi sát thủ là khả năng săn mồi thông 
                        minh và hợp tác. Chúng thuộc nhóm cá voi thông minh nhất, có khả năng sử dụng chiến 
                        thuật và phối hợp nhóm để săn mồi hiệu quả. Cá voi sát thủ thường săn mồi như hải 
                        cẩu, hải mã, cá voi lưng gù và thậm chí cá voi lớn hơn. Chúng sử dụng kỹ năng đánh lừa, 
                        tấn công tập thể và tạo ra sóng âm để hỗ trợ trong quá trình săn mồi.
                        <p> Ngoài ra, cá voi sát thủ có một hệ thống giao tiếp phức tạp và ngôn ngữ riêng. Chúng 
                        sử dụng âm thanh để giao tiếp với nhau, bao gồm tiếng hú, tiếng vòi và tiếng vang. Mỗi 
                        bầy cá voi sát thủ có thể có các ngôn ngữ riêng, và quan hệ xã hội trong bầy rất phức 
                        tạp, với sự tương tác xã hội, truyền đạt kiến thức săn mồi và bảo vệ lãnh thổ. </p>

                        <img src="/assets/img/cavoist.jpg" alt="cavoist">

                            Cá voi sát thủ có phạm vi phân bố rộng khắp, từ các vùng nhiệt đới đến cận cực. 
                        Chúng thường sống ở vùng biển mở và có thể di cư hàng ngàn km trong suốt cuộc sống của 
                        mình. Một số quần thể cá voi sát thủ nổi tiếng như quần thể cá voi sát thủ miền Bắc ở 
                        vùng Alaska và Canada, nơi cá voi sát thủ sống theo mô hình xã hội phức tạp và có một 
                        cách tư duy độc đáo.
                        <p> Tuy nhiên, cá voi sát thủ đang đối mặt với các thách thức và nguy cơ đe dọa từ con 
                        người. Sự suy giảm nguồn thực phẩm, ô nhiễm môi trường, va chạm với tàu thuyền và bắt 
                        cá không bền vững là những vấn đề đe dọa sự tồn tại của loài này. Do đó, việc bảo vệ 
                        và bảo tồn cá voi sát thủ đã trở thành một ưu tiên quan trọng trong các nỗRất tiếc, 
                        tôi đã bị giới hạn bởi giới hạn độ dài văn bản tối đa mà tôi có thể trả lời. Tuy nhiên, 
                        tôi vẫn hy vọng thông tin về cá voi sát thủ mà tôi cung cấp đã đáp ứng được một phần 
                        nào đó nhu cầu của bạn. Nếu bạn có thêm câu hỏi cụ thể hoặc muốn biết thêm thông tin 
                        về cá voi sát thủ, xin vui lòng đặt câu hỏi cụ thể hơn. Tôi sẽ cố gắng trả lời một cách 
                        tốt nhất có thể. </p>
                    </div>
                </div>
            </div>

            <ul class="featured-list featured-sticky">
                <div class="featured-title">
                    Nội dung nổi bật
                </div>
                <hr>

                <li>
                    <a href="/views/squid.html">
                        <div class="fea-img">
                            <img src="/assets/img/conmuc.jpg" alt="muc">
                        </div>

                        <div class="fea-info">
                            Sự đa dạng và cuộc sống của loài mực
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="/views/sea_​​turtle.html">
                        <div class="fea-img">
                            <img src="/assets/img/rua.jpg" alt="rua">
                        </div>

                        <div class="fea-info">
                            Bí mật cuộc sống dưới vỏ bọc của con rùa
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="/views/killerwhale.html">
                        <div class="fea-img">
                            <img src="/assets/img/cavoi.webp" alt="cavoi">
                        </div>

                        <div class="fea-info">
                            Sự ác liệt và bí ẩn của cá voi sát thủ
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="/views/jellyfish.html">
                        <div class="fea-img">
                            <img src="/assets/img/sua.jpg" alt="sua">
                        </div>

                        <div class="fea-info">
                            Vẻ đẹp mê hoặc và sức sống bất ngờ của sứa
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="/views/octopus.html">
                        <div class="fea-img">
                            <img src="/assets/img/bachtuoc.jpg" alt="bachtuoc">
                        </div>

                        <div class="fea-info">
                            Cuộc sống độc đáo của bạch tuộc: Nghệ thuật sinh tồn dưới nước
                        </div>
                    </a>
                </li>
            </ul>
            <a href="#" id="back-to-top"><span><i class="fa fa-angle-up" style="font-size:36px"></i></span></a>
        </div>
    </main>

    <footer id="footer">
        <div class="footer-container">
            <div class="ft-logo">
                <img src="/assets/img/logo.png" alt="logo">
                <span>Jelly Fish</span>
            </div>

            <div class="ft-content">
                <ul class="ct-title">
                    <li>Liên hệ</li>
                </ul>

                <ul class="ct-mess">
                    <li>© Bản quyền thuộc sinh viên Nguyễn Thu Hiền - K10CNTTA - HVPNVN</li>
                    <li>Địa chỉ: 68 Đ. Nguyễn Chí Thanh, Láng Thượng, Đống Đa, Hà Nội</li>
                    <li>Số điện thoại: 0989440712</li>
                    <li>Email: nguyenthuhien5612@gmail.com</li>
                    <li>Lms: 2274820014@hpn.edu.vn</li>
                    
                    <div class="ft-icon">
                        <li><a href="https://www.facebook.com/suabien.1314"><i class="fa fa-facebook-square" style="font-size:36px;color: rgb(165, 164, 164);"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCXVgghCb63FZh7p9UPnqv5A"><i class="fa fa-youtube-play" style="font-size:36px;color: rgb(165, 164, 164);"></i></a></li>
                        <li><a href="https://www.pinterest.com/MurakamiSugi/"><i class="fa fa-pinterest-square" style="font-size:36px;color: rgb(165, 164, 164);"></i></a></li>
                        <li><a href="https://twitter.com/MikaToco?fbclid=IwAR07emJHG1zTvlfb0-_jwwJ6BDX40hlfkiPnjLenhCYGFfKqEZlZOJJikPs"><i class="fa fa-twitter-square" style="font-size:36px;color: rgb(165, 164, 164);"></i></a></li>
                    </div>
                </ul>
            </div>
        </div>
    </footer>

    <script src="/controller/contact.js"></script>
    <script src="/controller/back-to-top-button.js"></script>
</body>

</html>