<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/webpage.css">
    <title>Bạch tuộc</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="../index.html">
                <img src="../assets/img/logo.png" alt="logo">
                <span>Jelly Fish</span>
            </a>
        </div>

        <div class="menu-navbar">
            <ul>
                <li><a href="../index.html">Trang chủ</a></li>
                <li><a href="introduce.html">Giới thiệu</a></li>
                <li>
                    <a href=""> Chủng loài
                        <i class="fa fa-angle-down fa-down" style="font-size:25px;margin-left: 8px;"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="/"></a>Vùng biển khơi mặt
                            <ul class="sub-menu">
                                <li><a href="dolphin.html">Cá heo</a></li>
                                <li><a href="sea_turtle.html">Rùa biển</a></li>
                                <li><a href="killerwhale.html">Cá voi sát thủ</a></li>
                            </ul>
                        </li>

                        <li><a href="/"></a>Vùng biển khơi trung
                            <ul class="sub-menu">
                                <li><a href="jellyfish.html">Sứa biển</a></li>
                                <li><a href="squid.html">Mực biển</a></li>
                                <li><a href="octopus.html">Bạch tuộc</a></li>
                            </ul>
                        </li>

                        <li><a href="/"></a>Vùng đáy vực khơi tăm tối
                            <ul class="sub-menu">
                                <li><a href="anemone.html">Hải quỳ</a></li>
                                <li><a href="dumbo.html">Dumbo otopus</a></li>
                                <li><a href="sea_spider.html">Nhện biển</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="contact">Liên hệ</a></li>
            </ul>
        </div>

        <div>
            <a href="login.html">
                <button id="login-btn" class="login-btn">
                    Đăng nhập
                </button>
            </a>
            <a href="login.html">
                <button id="logout-btn" class="logout-btn" onclick="logout()">
                    Đăng xuất
                </button>
            </a>
        </div>
    </header>

    <main>
        <div class="wel">
            <div class="wel-title">
                Khám phá biển sâu <br>
            </div>

            <div class="wel-mess">
                Hãy khám phá theo cách riêng của bạn, chúc bạn có những trải nghiệm thú vị !
            </div>
        </div>

        <div class="main-container">
            <div class="main-content">
                <div class="content">
                    <div class="content-title">
                        Bạch Tuộc: Thiên tài biển với trí tuệ và khả năng đa tài
                    </div>

                    <div class="content-mess">
                        Bạch tuộc, còn được biết đến với tên gọi khoa học là Octopus, là một trong
                        những sinh vật biển thông minh và đa tài nhất trên hành tinh chúng ta. Với hình
                        dáng độc đáo và khả năng thích nghi đáng kinh ngạc, bạch tuộc đã thu hút sự chú
                        ý và thách thức sự hiểu biết của con người từ thời cổ đại cho tới ngày nay.
                        <p> Bạch tuộc thuộc họ Cephalopoda, cùng với mực và sò, và là nhóm động vật có
                            não nhỏ nhất trong nhóm động vật có xương sống. Tuy vậy, bạch tuộc lại được biết
                            đến với khả năng thông minh và khéo léo đáng kinh ngạc. Chúng có thể giải quyết
                            các vấn đề phức tạp, như mở nắp chai, đi qua các chướng ngại vật, và thậm chí sử
                            dụng công cụ để săn mồi. </p>

                        <img src="../assets/img/bachtuoc.jpg" alt="bachtuoc">

                        Một trong những đặc điểm nổi bật của bạch tuộc là hệ thần kinh phức tạp và
                        mắt rất phát triển. Chúng có đôi mắt lớn và tinh vi, giúp chúng nhìn rõ trong
                        môi trường ánh sáng yếu dưới đáy biển. Ngoài ra, bạch tuộc cũng có khả năng thay
                        đổi màu sắc và hoạt động như một kỹ thuật giấu mình, giúp chúng tránh kẻ săn mồi
                        và tăng khả năng săn bắt.
                        <p> Bạch tuộc có cấu trúc cơ thể linh hoạt với 8 cánh tay, mỗi cánh tay có hàng
                            tá chiếc gai nhỏ gắn liền, giúp chúng bám chắc vào các bề mặt và cũng là công cụ
                            tấn công hiệu quả. Chúng cũng có khả năng tự cắt cánh tay để trốn thoát khỏi kẻ
                            săn mồi hoặc nguy hiểm, và sau đó có thể phục hồi lại cánh tay mới. </p>

                        <img src="../assets/img/octopus.jpg" alt="octopus">

                        Bạch tuộc là một loài săn mồi tài ba. Chúng thường ăn các loại động vật nhỏ như
                        cá, giun, con trai và các loài giun đất. Để săn mồi, bạch tuộc sử dụng chiến thuật
                        tấn công nhanh chóng và tinh vi. Chúng có thể sử dụng cánh tay để bao vây mồi và phun
                        một loại mực đặc biệt để làm mờ tầm nhìn của mồi và kẻ săn mồi.
                        <p> Bạch tuộc là loài động vật có sự đa dạng về kích thước và màu sắc. Kích thước của
                            bạch tuộc có thể dao động từ chỉ vài centimet đến hơn 5 mét, với trọng lượng lên đến
                            hàng chục kg. Màu sắc của chúng cũng rất đa dạng, từ màu nâu, xanh dương, đỏ tới cam, và
                            có thể thay đổi để tương hợp với môi trường xung quanh. </p>
                    </div>
                </div>
            </div>

            <ul class="featured-list featured-sticky">
                <div class="featured-title">
                    Nội dung nổi bật
                </div>
                <hr>

                <li>
                    <a href="squid.html">
                        <div class="fea-img">
                            <img src="../assets/img/conmuc.jpg" alt="muc">
                        </div>

                        <div class="fea-info">
                            Sự đa dạng và cuộc sống của loài mực
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="sea_turtle.html">
                        <div class="fea-img">
                            <img src="../assets/img/rua.jpg" alt="rua">
                        </div>

                        <div class="fea-info">
                            Bí mật cuộc sống dưới vỏ bọc của con rùa
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="killerwhale.html">
                        <div class="fea-img">
                            <img src="../assets/img/cavoi.webp" alt="cavoi">
                        </div>

                        <div class="fea-info">
                            Sự ác liệt và bí ẩn của cá voi sát thủ
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="jellyfish.html">
                        <div class="fea-img">
                            <img src="../assets/img/sua.jpg" alt="sua">
                        </div>

                        <div class="fea-info">
                            Vẻ đẹp mê hoặc và sức sống bất ngờ của sứa
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="octopus.html">
                        <div class="fea-img">
                            <img src="../assets/img/bachtuoc.jpg" alt="bachtuoc">
                        </div>

                        <div class="fea-info">
                            Cuộc sống độc đáo của bạch tuộc: Nghệ thuật sinh tồn dưới nước
                        </div>
                    </a>
                </li>
            </ul>
            <a href="#" id="back-to-top"><span><i class="fa fa-angle-up" style="font-size:36px"></i></span></a>
        </div>
    </main>

    <footer id="footer">
        <div class="footer-container">
            <div class="ft-logo">
                <img src="../assets/img/logo.png" alt="logo">
                <span>Jelly Fish</span>
            </div>

            <div class="ft-content">
                <ul class="ct-title">
                    <li>Liên hệ</li>
                </ul>

                <ul class="ct-mess">
                    <li>© Bản quyền thuộc sinh viên Nguyễn Thu Hiền - K10CNTTA - HVPNVN</li>
                    <li>Địa chỉ: 68 Đ. Nguyễn Chí Thanh, Láng Thượng, Đống Đa, Hà Nội</li>
                    <li>Số điện thoại: 0989440712</li>
                    <li>Email: nguyenthuhien5612@gmail.com</li>
                    <li>Lms: 2274820014@hpn.edu.vn</li>

                    <div class="ft-icon">
                        <li>
                            <a href="https://www.facebook.com/suabien.1314">
                                <i class="fa fa-facebook-square" style="font-size:36px;color: rgb(165, 164, 164);"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCXVgghCb63FZh7p9UPnqv5A">
                                <i class="fa fa-youtube-play" style="font-size:36px;color: rgb(165, 164, 164);"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.pinterest.com/MurakamiSugi/">
                                <i class="fa fa-pinterest-square" style="font-size:36px;color: rgb(165, 164, 164);"></i>
                            </a>
                        </li>
                        <li>
                            <a
                                href="https://twitter.com/MikaToco?fbclid=IwAR07emJHG1zTvlfb0-_jwwJ6BDX40hlfkiPnjLenhCYGFfKqEZlZOJJikPs">
                                <i class="fa fa-twitter-square" style="font-size:36px;color: rgb(165, 164, 164);"></i>
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </footer>

    <script src="../controller/main.js"></script>
</body>

</html>