<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/webpage.css">
    <title>Rùa biển</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="/index.html">
                <img src="/assets/img/logo.png" alt="logo">
                <span>Jelly Fish</span>
            </a>
        </div>

        <div class="menu-navbar">
            <ul>
                <li><a href="/index.html">Trang chủ</a></li>
                <li><a href="/views/introduce.html">Giới thiệu</a></li>
                <li>
                    <a href=""> Chủng loài
                        <i class="fa fa-angle-down fa-down" style="font-size:25px;margin-left: 8px;"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="/"></a>Vùng biển khơi mặt
                            <ul class="sub-menu">
                                <li><a href="/views/dolphin.html">Cá heo</a></li>
                                <li><a href="/views/sea_turtle.html">Rùa biển</a></li>
                                <li><a href="/views/killerwhale.html">Cá voi sát thủ</a></li>
                            </ul>
                        </li>

                        <li><a href="/"></a>Vùng biển khơi trung
                            <ul class="sub-menu">
                                <li><a href="/views/jellyfish.html">Sứa biển</a></li>
                                <li><a href="/views/squid.html">Mực biển</a></li>
                                <li><a href="/views/octopus.html">Bạch tuộc</a></li>
                            </ul>
                        </li>

                        <li><a href="/"></a>Vùng đáy vực khơi tăm tối
                            <ul class="sub-menu">
                                <li><a href="/views/anemone.html">Hải quỳ</a></li>
                                <li><a href="/views/dumbo.html">Dumbo otopus</a></li>
                                <li><a href="/views/sea_spider.html">Nhện biển</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="contact">Liên hệ</a></li>
            </ul>
        </div>

        <div>
            <a href="../views/login.html"><button class="login-btn">Đăng nhập</button></a>
        </div>
    </header>

    <main>
        <div class="wel">
            <div class="wel-title">
                Khám phá biển sâu <br>
            </div>

            <div class="wel-mess">
                Hãy khám phá theo cách riêng của bạn, chúc bạn có những trải nghiệm thú vị !
            </div>
        </div>

        <div class="main-container">
            <div class="main-content">
                <div class="content">
                    <div class="content-title">
                        Khám phá thế giới kỳ diệu của rùa: Sự sống lâu bền và những điều 
                        đặc biệt về loài động vật biển cổ đại
                    </div>

                    <div class="content-mess">
                            Rùa là một trong những loài động vật có vú biển cổ đại nhất trên Trái Đất, 
                        tồn tại từ hàng triệu năm trước. Chúng thuộc họ Testudinidae và được phân thành 
                        nhiều loài khác nhau trên khắp thế giới. Rùa là nhóm động vật có quá trình tiến 
                        hóa rất đặc biệt và được xem là biểu tượng của sự bền vững và sự sống lâu bền.
                        <p> Rùa có cấu trúc cơ thể đặc trưng, với một vỏ chắc chắn giúp bảo vệ họ khỏi 
                        nguy cơ tấn công từ các con mồi hoặc kẻ săn mồi. Vỏ của rùa bao gồm hai phần 
                        chính: vỏ trên (carapace) và vỏ dưới (plastron). Vỏ trên có màu sắc và họa tiết 
                        đa dạng, từ màu nâu đến xám và đen, giúp chúng có thể pha trộn với môi trường xung 
                        quanh. Rùa có khả năng rút đầu và chân vào vỏ để tự bảo vệ khi gặp nguy hiểm. </p>

                        <img src="/assets/img/rua.jpg" alt="rua">

                            Rùa có kích thước và trọng lượng lớn, đặc biệt là đối với những loài rùa biển 
                        lớn như rùa đồng cỏ, rùa biển xanh, rùa da dầu và rùa quý hiếm như rùa hawksbill. 
                        Một số loài rùa có thể đạt đến kích thước và trọng lượng ấn tượng, với một số cá 
                        thể lớn nhất có thể nặng hơn 900 kg và dài hơn 2 mét.
                        <p> Rùa là loài bò sát có hình thức sống đa dạng. Một số loài rùa sống trong môi 
                        trường nước ngọt như hồ, sông và ao, trong khi những loài khác sống trong môi trường 
                        nước mặn như biển và vùng đầm lầy ven biển. Rùa có thể di cư lớn hàng năm để tìm kiếm 
                        thức ăn, đẻ trứng hoặc tìm kiếm môi trường sống mới. Chúng có thể đi hàng trăm hoặc 
                        thậm chí hàng nghìn km để hoàn thành quá trình di cư này. </p>

                        <img src="/assets/img/ruaa.jpg" alt="ruaa">

                            Quá trình sinh sản của rùa là một trong những khía cạnh độc đáo và đáng kinh ngạc 
                        nhất. Rùa đực và rùa cái thường thực hiện cuộc gặp gỡ sinh sản trên bờ biển, và rùa 
                        cái sau đó đến một vùng cạn để đẻ trứng. Những khu vực đẻ trứng của rùa thường là những 
                        bãi cát hoặc một số khu vực khác có đất mềm. Rùa cái đào một hang đẻ sâu vào đất và 
                        đặt trứng vào đó, sau đó che phủ lại hang đẻ trứng bằng cách nhổ đất trở lại. Khoảng 
                        thời gian ấp trứng của rùa có thể kéo dài từ vài tuần đến vài tháng, tùy thuộc vào loài 
                        và điều kiện môi trường.
                        <p> Rùa là một phần quan trọng của hệ sinh thái biển và đóng vai trò quan trọng trong 
                        duy trì sự cân bằng sinh thái. Chúng là những con thủy quáRất tiếc, tôi đã bị giới hạn 
                        bởi giới hạn độ dài văn bản tối đa mà tôi có thể trả lời. Tuy nhiên, tôi vẫn hy vọng 
                        thông tin về rùa mà tôi cung cấp đã đáp ứng được một phần nào đó nhu cầu của bạn. Nếu 
                        bạn có thêm câu hỏi cụ thể hoặc muốn biết thêm thông tin về rùa, xin vui lòng đặt câu 
                        hỏi cụ thể hơn. Tôi sẽ cố gắng trả lời một cách tốt nhất có thể. </p>
                    </div>
                </div>
            </div>

            <ul class="featured-list featured-sticky">
                <div class="featured-title">
                    Nội dung nổi bật
                </div>
                <hr>

                <li>
                    <a href="/views/squid.html">
                        <div class="fea-img">
                            <img src="/assets/img/conmuc.jpg" alt="muc">
                        </div>

                        <div class="fea-info">
                            Sự đa dạng và cuộc sống của loài mực
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="/views/sea_turtle.html">
                        <div class="fea-img">
                            <img src="/assets/img/rua.jpg" alt="rua">
                        </div>

                        <div class="fea-info">
                            Bí mật cuộc sống dưới vỏ bọc của con rùa
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="/views/killerwhale.html">
                        <div class="fea-img">
                            <img src="/assets/img/cavoi.webp" alt="cavoi">
                        </div>

                        <div class="fea-info">
                            Sự ác liệt và bí ẩn của cá voi sát thủ
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="/views/jellyfish.html">
                        <div class="fea-img">
                            <img src="/assets/img/sua.jpg" alt="sua">
                        </div>

                        <div class="fea-info">
                            Vẻ đẹp mê hoặc và sức sống bất ngờ của sứa
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="/views/octopus.html">
                        <div class="fea-img">
                            <img src="/assets/img/bachtuoc.jpg" alt="bachtuoc">
                        </div>

                        <div class="fea-info">
                            Cuộc sống độc đáo của bạch tuộc: Nghệ thuật sinh tồn dưới nước
                        </div>
                    </a>
                </li>
            </ul>
            <a href="#" id="back-to-top"><span><i class="fa fa-angle-up" style="font-size:36px"></i></span></a>
        </div>
    </main>

    <footer id="footer">
        <div class="footer-container">
            <div class="ft-logo">
                <img src="/assets/img/logo.png" alt="logo">
                <span>Jelly Fish</span>
            </div>

            <div class="ft-content">
                <ul class="ct-title">
                    <li>Liên hệ</li>
                </ul>

                <ul class="ct-mess">
                    <li>© Bản quyền thuộc sinh viên Nguyễn Thu Hiền - K10CNTTA - HVPNVN</li>
                    <li>Địa chỉ: 68 Đ. Nguyễn Chí Thanh, Láng Thượng, Đống Đa, Hà Nội</li>
                    <li>Số điện thoại: 0989440712</li>
                    <li>Email: nguyenthuhien5612@gmail.com</li>
                    <li>Lms: 2274820014@hpn.edu.vn</li>
                    
                    <div class="ft-icon">
                        <li><a href="https://www.facebook.com/suabien.1314"><i class="fa fa-facebook-square" style="font-size:36px;color: rgb(165, 164, 164);"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCXVgghCb63FZh7p9UPnqv5A"><i class="fa fa-youtube-play" style="font-size:36px;color: rgb(165, 164, 164);"></i></a></li>
                        <li><a href="https://www.pinterest.com/MurakamiSugi/"><i class="fa fa-pinterest-square" style="font-size:36px;color: rgb(165, 164, 164);"></i></a></li>
                        <li><a href="https://twitter.com/MikaToco?fbclid=IwAR07emJHG1zTvlfb0-_jwwJ6BDX40hlfkiPnjLenhCYGFfKqEZlZOJJikPs"><i class="fa fa-twitter-square" style="font-size:36px;color: rgb(165, 164, 164);"></i></a></li>
                    </div>
                </ul>
            </div>
        </div>
    </footer>

    <script src="../controller/checkAuth.js"></script>
    <script src="/controller/contact.js"></script>
    <script src="/controller/backToTop.js"></script>
</body>

</html>