<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/webpage.css">
    <title>Nhện biển</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="../index.html">
                <img src="../assets/img/logo.png" alt="logo">
                <span>Jelly Fish</span>
            </a>
        </div>

        <div class="menu-navbar">
            <ul>
                <li><a href="../index.html">Trang chủ</a></li>
                <li><a href="introduce.html">Giới thiệu</a></li>
                <li>
                    <a href=""> Chủng loài
                        <i class="fa fa-angle-down fa-down" style="font-size:25px;margin-left: 8px;"></i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            Vùng biển khơi mặt
                            <ul class="sub-menu">
                                <li><a href="dolphin.html">Cá heo</a></li>
                                <li><a href="sea_turtle.html">Rùa biển</a></li>
                                <li><a href="killerwhale.html">Cá voi sát thủ</a></li>
                            </ul>
                        </li>

                        <li>
                            Vùng biển khơi trung
                            <ul class="sub-menu">
                                <li><a href="jellyfish.html">Sứa biển</a></li>
                                <li><a href="squid.html">Mực biển</a></li>
                                <li><a href="octopus.html">Bạch tuộc</a></li>
                            </ul>
                        </li>

                        <li>
                            Vùng đáy vực khơi tăm tối
                            <ul class="sub-menu">
                                <li><a href="anemone.html">Hải quỳ</a></li>
                                <li><a href="dumbo.html">Dumbo otopus</a></li>
                                <li><a href="sea_spider.html">Nhện biển</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li><a href="contact">Liên hệ</a></li>
            </ul>
        </div>

        <div>
            <a href="login.html">
                <button id="login-btn" class="login-btn">
                    Đăng nhập
                </button>
            </a>
            <a href="login.html">
                <button id="logout-btn" class="logout-btn" onclick="logout()">
                    Đăng xuất
                </button>
            </a>
        </div>
    </header>

    <main>
        <div class="wel">
            <div class="wel-title">
                Khám phá biển sâu <br>
            </div>

            <div class="wel-mess">
                Hãy khám phá theo cách riêng của bạn, chúc bạn có những trải nghiệm thú vị !
            </div>
        </div>

        <div class="main-container">
            <div class="main-content">
                <div class="content">
                    <div class="content-title">
                        Khám phá sự kỳ diệu của nhện biển: Sinh vật độc đáo và sống bí ẩn
                        dưới đáy biển
                    </div>

                    <div class="content-mess">
                        Nhện biển, còn được gọi là nhện biển khổng lồ, là một loại sinh vật kỳ lạ
                        và đáng kinh ngạc thuộc họ Pycnogonida. Dù tên gọi có từ "nhện," nhưng nhện biển
                        không thuộc họ Arachnida và không có quan hệ gần gũi với nhện đất liền mà chúng
                        ta thường thấy.
                        <p> Nhện biển sống trong môi trường biển nước mặn và có thể tìm thấy ở khắp các
                            vùng biển trên thế giới, từ vùng cận nhiệt đới đến vùng cực Bắc và cực Nam. Chúng
                            thích nghi với các loại đáy biển khác nhau, từ đá, cát đến rừng san hô. </p>

                        <img src="../assets/img/nhenbien.jpg" alt="nhenbien">

                        Một trong những đặc điểm đáng chú ý nhất của nhện biển là hình dạng cơ thể độc đáo.
                        Chúng có cơ thể nhỏ gọn và mảnh mai, với các chân dài và mỏng. Nhện biển được coi là một
                        trong những loài động vật có cấu trúc cơ thể đơn giản nhất trong hệ động vật. Chúng không
                        có hệ thống hô hấp hoặc tuần hoàn phức tạp như các loài động vật khác.
                        <p> Nhện biển có một cặp chân chính dài và một cặp chân phụ nhỏ hơn. Chân chính được sử dụng
                            để di chuyển và săn mồi, trong khi chân phụ thường được sử dụng để nắm bắt và vận chuyển
                            thức ăn. Một số loài có thể có đến 8 cặp chân, tạo nên hình dáng rất đặc biệt. </p>

                        <img src="../assets/img/nhenbienn.jpg" alt="nhenbienn">

                        Trong thế giới tự nhiên, nhện biển đóng vai trò quan trọng trong hệ sinh thái biển.
                        Chúng tham gia vào chuỗi thức ăn và có thể là kẻ săn mồi cũng như nguồn thức ăn cho các
                        loài khác. Chúng cũng có vai trò trong việc duy trì sự cân bằng sinh thái bằng cách kiểm
                        soát dân số các loài sinh vật khác trong môi trường biển.
                        <p> Tổng quan về nhện biển cho thấy chúng là một nhóm sinh vật độc đáo và thú vị. Dù
                            chúng không được biết đến rộng rãi như nhện đất liền, nhện biển có những đặc điểm sinh
                            học độc đáo và đáng ngạc nhiên. Sự nghiên cứu tiếp tục về nhện biển sẽ giúp chúng ta
                            hiểu rõ hơn về sự đa dạng sinh học trong môi trường biển và tầm quan trọng của nhện biển
                            trong hệ sinh thái biển. </p>
                    </div>
                </div>
            </div>

            <ul class="featured-list featured-sticky">
                <div class="featured-title">
                    Nội dung nổi bật
                </div>
                <hr>

                <li>
                    <a href="squid.html">
                        <div class="fea-img">
                            <img src="../assets/img/conmuc.jpg" alt="muc">
                        </div>

                        <div class="fea-info">
                            Sự đa dạng và cuộc sống của loài mực
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="sea_turtle.html">
                        <div class="fea-img">
                            <img src="../assets/img/rua.jpg" alt="rua">
                        </div>

                        <div class="fea-info">
                            Bí mật cuộc sống dưới vỏ bọc của con rùa
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="killerwhale.html">
                        <div class="fea-img">
                            <img src="../assets/img/cavoi.webp" alt="cavoi">
                        </div>

                        <div class="fea-info">
                            Sự ác liệt và bí ẩn của cá voi sát thủ
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="jellyfish.html">
                        <div class="fea-img">
                            <img src="../assets/img/sua.jpg" alt="sua">
                        </div>

                        <div class="fea-info">
                            Vẻ đẹp mê hoặc và sức sống bất ngờ của sứa
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="octopus.html">
                        <div class="fea-img">
                            <img src="../assets/img/bachtuoc.jpg" alt="bachtuoc">
                        </div>

                        <div class="fea-info">
                            Cuộc sống độc đáo của bạch tuộc: Nghệ thuật sinh tồn dưới nước
                        </div>
                    </a>
                </li>
            </ul>
            <a href="#" id="back-to-top"><span><i class="fa fa-angle-up" style="font-size:36px"></i></span></a>
        </div>
    </main>

    <footer id="footer">
        <div class="footer-container">
            <div class="ft-logo">
                <img src="../assets/img/logo.png" alt="logo">
                <span>Jelly Fish</span>
            </div>

            <div class="ft-content">
                <ul class="ct-title">
                    <li>Liên hệ</li>
                </ul>

                <ul class="ct-mess">
                    <li>© Bản quyền thuộc sinh viên Nguyễn Thu Hiền - K10CNTTA - HVPNVN</li>
                    <li>Địa chỉ: 68 Đ. Nguyễn Chí Thanh, Láng Thượng, Đống Đa, Hà Nội</li>
                    <li>Số điện thoại: 0989440712</li>
                    <li>Email: nguyenthuhien5612@gmail.com</li>
                    <li>Lms: 2274820014@hpn.edu.vn</li>

                    <div class="ft-icon">
                        <li>
                            <a href="https://www.facebook.com/suabien.1314">
                                <i class="fa fa-facebook-square" style="font-size:36px;color: rgb(165, 164, 164);"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCXVgghCb63FZh7p9UPnqv5A">
                                <i class="fa fa-youtube-play" style="font-size:36px;color: rgb(165, 164, 164);"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.pinterest.com/MurakamiSugi/">
                                <i class="fa fa-pinterest-square" style="font-size:36px;color: rgb(165, 164, 164);"></i>
                            </a>
                        </li>
                        <li>
                            <a
                                href="https://twitter.com/MikaToco?fbclid=IwAR07emJHG1zTvlfb0-_jwwJ6BDX40hlfkiPnjLenhCYGFfKqEZlZOJJikPs">
                                <i class="fa fa-twitter-square" style="font-size:36px;color: rgb(165, 164, 164);"></i>
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </footer>

    <script src="../controller/main.js"></script>
</body>

</html>