<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/webpage.css">
    <title>Mực biển</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="/index.html">
                <img src="/assets/img/logo.png" alt="logo">
                <span>Jelly Fish</span>
            </a>
        </div>

        <div class="menu-navbar">
            <ul>
                <li><a href="/index.html">Trang chủ</a></li>
                <li><a href="/views/introduce.html">Giới thiệu</a></li>
                <li>
                    <a href=""> Chủng loài
                        <i class="fa fa-angle-down fa-down" style="font-size:25px;margin-left: 8px;"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="/"></a>Vùng biển khơi mặt
                            <ul class="sub-menu">
                                <li><a href="/views/dolphin.html">Cá heo</a></li>
                                <li><a href="/views/sea_turtle.html">Rùa biển</a></li>
                                <li><a href="/views/killerwhale.html">Cá voi sát thủ</a></li>
                            </ul>
                        </li>

                        <li><a href="/"></a>Vùng biển khơi trung
                            <ul class="sub-menu">
                                <li><a href="/views/jellyfish.html">Sứa biển</a></li>
                                <li><a href="/views/squid.html">Mực biển</a></li>
                                <li><a href="/views/octopus.html">Bạch tuộc</a></li>
                            </ul>
                        </li>

                        <li><a href="/"></a>Vùng đáy vực khơi tăm tối
                            <ul class="sub-menu">
                                <li><a href="/views/anemone.html">Hải quỳ</a></li>
                                <li><a href="/views/dumbo.html">Dumbo otopus</a></li>
                                <li><a href="/views/sea_spider.html">Nhện biển</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li><a href="contact">Liên hệ</a></li>
            </ul>
        </div>

        <div>
            <a href="../views/login.html"><button class="login-btn">Đăng nhập</button></a>
        </div>
    </header>

    <main>
        <div class="wel">
            <div class="wel-title">
                Khám phá biển sâu <br>
            </div>

            <div class="wel-mess">
                Hãy khám phá theo cách riêng của bạn, chúc bạn có những trải nghiệm thú vị !
            </div>
        </div>

        <div class="main-container">
            <div class="main-content">
                <div class="content">
                    <div class="content-title">
                        Mực - Sinh vật biển đa dạng và thú vị trong hệ sinh thái biển
                    </div>

                    <div class="content-mess">
                            Con mực là một sinh vật biển thuộc họ mực (Sepiidae) trong bộ Mực (Sepiida). 
                        Chúng thuộc nhóm động vật không xương sống và có mặt trên toàn thế giới trong các 
                        vùng biển nhiệt đới, cận nhiệt đới và ôn đới. Con mực có hình dạng đặc trưng với 
                        thân trụ tròn và nhuyễn, thân có thể biến dạng và điều chỉnh hình dạng để tương 
                        thích với môi trường xung quanh.
                        <p> Mực có một vài đặc điểm đáng chú ý. Đầu của chúng có mắt lớn và não tương đối 
                        phát triển, cho phép chúng có khả năng nhìn thấy và xử lý thông tin môi trường xung 
                        quanh. Bên trong cơ thể mực, có một túi mực chứa mực và các tế bào màu sắc, cho phép 
                        chúng thay đổi màu sắc và tạo ra các mẫu trên da để tương tác và truyền thông với các 
                        cá thể khác và môi trường. </p>

                        <img src="/assets/img/conmuc.jpg" alt="conmuc">

                            Mực cũng có khả năng phun mực để tự vệ khi gặp nguy hiểm. Khi cảm thấy bị đe 
                        dọa, chúng có thể phun một lượng lớn mực từ túi mực ra môi trường xung quanh, tạo 
                        ra một màn mờ và khiến cho đối thủ mất tầm nhìn và mất hướng. Điều này giúp con mực 
                        trốn thoát hoặc che giấu khỏi kẻ săn mồi.
                        <p> Hình thức sinh sản của mực cũng đặc biệt. Con cái mực đẻ trứng và bảo vệ chúng 
                        trong một tổ cái, trong khi con đực mực sẽ cố gắng thu hút con cái bằng cách thay 
                        đổi màu sắc và tạo ra các biểu hiện đặc trưng khác. Sau khi trứng nở, con cái mực 
                        sẽ chăm sóc và bảo vệ trứng non cho đến khi chúng trưởng thành. </p>

                        <img src="/assets/img/muc.jpg" alt="muc">

                            Mực là một phần quan trọng của chuỗi thức ăn biển. Chúng ăn các loại động vật 
                        nhỏ như cá, giun, tôm và các sinh vật biển nhỏ khác. Đồng thời, nhiều loài cá và 
                        động vật biển khác cũng săn mồi mực như một phần của chế độ ăn của họ.
                        <p> Trên hết, con mực là một sinh vật biển đa dạng và thú vị, có những đặc điểm độc 
                        đáo và quan trọng trong hệ sinh thái biển. Việc nghiên cứu và hiểu về con mực sẽ 
                        giúp chúng ta có sự nhìn nhận rõ hơn về sự đa dạng và tầm quan trọng của các loài sinh 
                        vật trong môi trường biển. </p>
                    </div>
                </div>
            </div>

            <ul class="featured-list featured-sticky">
                <div class="featured-title">
                    Nội dung nổi bật
                </div>
                <hr>

                <li>
                    <a href="/views/squid.html">
                        <div class="fea-img">
                            <img src="/assets/img/conmuc.jpg" alt="muc">
                        </div>

                        <div class="fea-info">
                            Sự đa dạng và cuộc sống của loài mực
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="/views/sea_turtle.html">
                        <div class="fea-img">
                            <img src="/assets/img/rua.jpg" alt="rua">
                        </div>

                        <div class="fea-info">
                            Bí mật cuộc sống dưới vỏ bọc của con rùa
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="/views/killerwhale.html">
                        <div class="fea-img">
                            <img src="/assets/img/cavoi.webp" alt="cavoi">
                        </div>

                        <div class="fea-info">
                            Sự ác liệt và bí ẩn của cá voi sát thủ
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="/views/jellyfish.html">
                        <div class="fea-img">
                            <img src="/assets/img/sua.jpg" alt="sua">
                        </div>

                        <div class="fea-info">
                            Vẻ đẹp mê hoặc và sức sống bất ngờ của sứa
                        </div>
                    </a>
                </li>
                <hr>

                <li>
                    <a href="/views/octopus.html">
                        <div class="fea-img">
                            <img src="/assets/img/bachtuoc.jpg" alt="bachtuoc">
                        </div>

                        <div class="fea-info">
                            Cuộc sống độc đáo của bạch tuộc: Nghệ thuật sinh tồn dưới nước
                        </div>
                    </a>
                </li>
            </ul>
            <a href="#" id="back-to-top"><span><i class="fa fa-angle-up" style="font-size:36px"></i></span></a>
        </div>
    </main>

    <footer id="footer">
        <div class="footer-container">
            <div class="ft-logo">
                <img src="/assets/img/logo.png" alt="logo">
                <span>Jelly Fish</span>
            </div>

            <div class="ft-content">
                <ul class="ct-title">
                    <li>Liên hệ</li>
                </ul>

                <ul class="ct-mess">
                    <li>© Bản quyền thuộc sinh viên Nguyễn Thu Hiền - K10CNTTA - HVPNVN</li>
                    <li>Địa chỉ: 68 Đ. Nguyễn Chí Thanh, Láng Thượng, Đống Đa, Hà Nội</li>
                    <li>Số điện thoại: 0989440712</li>
                    <li>Email: nguyenthuhien5612@gmail.com</li>
                    <li>Lms: 2274820014@hpn.edu.vn</li>
                    
                    <div class="ft-icon">
                        <li><a href="https://www.facebook.com/suabien.1314"><i class="fa fa-facebook-square" style="font-size:36px;color: rgb(165, 164, 164);"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCXVgghCb63FZh7p9UPnqv5A"><i class="fa fa-youtube-play" style="font-size:36px;color: rgb(165, 164, 164);"></i></a></li>
                        <li><a href="https://www.pinterest.com/MurakamiSugi/"><i class="fa fa-pinterest-square" style="font-size:36px;color: rgb(165, 164, 164);"></i></a></li>
                        <li><a href="https://twitter.com/MikaToco?fbclid=IwAR07emJHG1zTvlfb0-_jwwJ6BDX40hlfkiPnjLenhCYGFfKqEZlZOJJikPs"><i class="fa fa-twitter-square" style="font-size:36px;color: rgb(165, 164, 164);"></i></a></li>
                    </div>
                </ul>
            </div>
        </div>
    </footer>

    <script src="/controller/contact.js"></script>
    <script src="/controller/backToTop.js"></script>
</body>

</html>